@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC', "Arial", -apple-system, "Microsoft JhengHei", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
}

.app {
  overflow: hidden;
  position: relative;
}

a:hover {
  text-decoration: none;
}

.main-content {
  min-height: calc(100vh - 100px);
}

.no-padding {
  padding: 0;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.br-sm {
  border-radius: 4px;
}

.br-md {
  border-radius: 10px;
}

.br-lg {
  border-radius: 30px;
}

#banner {
  margin-top: 58px;
}

#banner .slick-prev:before, #banner .slick-next:before {
  opacity: 0;
}

#banner .slick-next {
  right: 1vw;
}

#banner .slick-prev {
  left: 1vw;
}

.banner-image {
  height: 40vw;
}

#banner .slick-next {
  background: #999;
  -webkit-mask-image: url("/static/img/icons/next.svg");
          mask-image: url("/static/img/icons/next.svg");
  -webkit-mask-repeat: no-repeat;
  width: 40px;
  height: 40px;
  z-index: 1;
}

#banner .slick-prev {
  background: #999;
  -webkit-mask-image: url("/static/img/icons/prev.svg");
          mask-image: url("/static/img/icons/prev.svg");
  -webkit-mask-repeat: no-repeat;
  width: 40px;
  height: 40px;
  z-index: 1;
}

#banner .slick-dots {
  bottom: 2vw;
}

#footer {
  width: 100%;
  background: #166aa6;
}

#header {
  width: 100%;
  position: fixed;
  background: #166aa6;
  z-index: 2;
}

#header a {
  color: #fff;
}

.header-box {
  padding: 1rem;
}

.header-box .header-box-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.header-logo-box {
  display: inline-block;
}

.infobar {
  display: inline-block;
}

.infobar .infobar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.infobar .infobar-list ul {
  list-style: none;
  color: #ffff;
  margin: 0 0;
}

.infobar .search-btn {
  position: relative;
}

.infobar .search-btn .search-bar {
  position: absolute;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
  right: 0;
  border-radius: 5px;
  min-width: 250px;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px 15px 15px 15px;
  z-index: 2;
}

.search-btn .search-bar.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.infobar input[type="text"] {
  font-family: 'Noto Sans TC', "Arial", -apple-system, "Microsoft JhengHei", sans-serif;
  width: 100%;
  font-size: 1.6rem;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  margin-right: 1rem;
}

.infobar button {
  width: 50px;
}

.mobile-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 3px solid #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.burger {
  width: 30px;
  height: 3px;
  background: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
}

.burger::before, .burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.burger::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.burger::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.mobile-btn-show .burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mobile-btn-show {
  border-radius: 50%;
  border: 3px solid #fff;
}

.mobile-btn-show .burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.mobile-btn-show .burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

.menu-box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-list ul {
  list-style: none;
  color: #ffff;
  margin: 1rem 0;
}

.menu-list ul:first-child {
  padding-left: 0;
}

.mobile-menu {
  position: fixed;
  top: 58px;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.mobile-menu-show {
  background: rgba(255, 255, 255, 0.7);
  -webkit-animation: mobile-menu 0.5s ease forwards;
          animation: mobile-menu 0.5s ease forwards;
}

.mobile-menu-close {
  -webkit-animation: mobile-menu-close 0.5s ease-in forwards;
          animation: mobile-menu-close 0.5s ease-in forwards;
}

@-webkit-keyframes mobile-menu {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}

@keyframes mobile-menu {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}

@-webkit-keyframes mobile-menu-close {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    right: 100%;
    opacity: 0;
  }
}

@keyframes mobile-menu-close {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    right: 100%;
    opacity: 0;
  }
}
/*# sourceMappingURL=main.css.map */