@keyframes mobile-menu
    0%
        right: 100%
    100%
        right: 0%
@keyframes mobile-menu-close
    0%
        opacity: 0
    50%
        opacity: 0.5    
    100%
        right: 100%
        opacity: 0
