#banner
  margin-top: 58px
  .slick-prev:before, .slick-next:before
    opacity: 0
#banner
  .slick-next
    right: 1vw
  .slick-prev
    left: 1vw
.banner-image
  height: 40vw
#banner
  .slick-next
    background: #999
    mask-image: url('/static/img/icons/next.svg') 
    -webkit-mask-repeat: no-repeat
    width: 40px
    height: 40px
    z-index: 1
  .slick-prev
    background: #999
    mask-image: url('/static/img/icons/prev.svg')
    -webkit-mask-repeat: no-repeat
    width: 40px
    height: 40px
    z-index: 1
#banner
  .slick-dots
    bottom: 2vw
