#header
  width: 100%
  position: fixed
  background: #166aa6
  z-index: 2
  a
    color: #fff
.header-box
  padding: 1rem
  .header-box-col
    display: flex
    justify-content: space-between
    align-items: center
    margin-left: auto
    margin-right: auto
.header-logo-box
  display: inline-block
  // padding-left: 1rem
.infobar
  display: inline-block
  // padding-right: 1rem
  .infobar-list
    display: flex
    ul
      list-style: none
      color: #ffff
      margin: 0 0
.infobar
  .search-btn
    position: relative
    .search-bar
      position: absolute
      display: none
      align-items: center
      margin-top: 0.5rem
      right: 0
      border-radius: 5px
      min-width: 250px
      background: rgba(0, 0, 0, 0.6)
      padding: 15px 15px 15px 15px
      z-index: 2
.search-btn
  .search-bar.show
    display: flex
.infobar
  input[type="text"]
    font-family: 'Noto Sans TC', "Arial", -apple-system, "Microsoft JhengHei", sans-serif
    width: 100%
    font-size: 1.6rem
    padding: 5px
    border-radius: 5px
    border: 0
    margin-right: 1rem
  button
    width: 50px


.mobile-btn
  position: relative
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  width: 40px
  height: 40px
  border: 3px solid #fff
  transition: all 0.5s ease-in-out
//mobile btn
.burger
  width: 30px
  height: 3px
  background: #ffffff
  border-radius: 5px 
  transition: all 0.5s ease-in-out
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2)
.burger::before,.burger::after
  content: ''
  position: absolute
  width: 30px
  height: 3px
  background: #ffffff
  border-radius: 5px
  transition: all 0.5s ease-in-out
.burger::before
  transform: translateY(-10px)
.burger::after
  transform: translateY(10px)
.mobile-btn-show .burger
  transform: translateX(-50px)
  background: transparent
  box-shadow: none
.mobile-btn-show
  border-radius: 50%
  border: 3px solid #fff
.mobile-btn-show .burger::before
  transform: rotate(45deg) translate(35px,-35px)
.mobile-btn-show .burger::after
  transform: rotate(-45deg) translate(35px,35px)

.menu-box
  justify-content: center
  padding-left: 1rem
  padding-right: 1rem



.menu-list
  display: flex
  justify-content: space-between
  align-items: center
  ul 
    list-style: none
    color: #ffff
    margin: 1rem 0 
  ul:first-child
    padding-left: 0
