.mobile-menu
  position: fixed
  top: 58px
  width: 100%
  height: 100%
  z-index: 9999

.mobile-menu-show
  background: rgba(255,255,255,0.7)
  animation: mobile-menu 0.5s ease forwards
  // left: 50%
.mobile-menu-close
  animation: mobile-menu-close 0.5s ease-in forwards
  // left: 100%
.mobile-list-box

