@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap')

*,
*::after,
*::before
  box-sizing: border-box


html
  font-size: 62.5%


body 
  box-sizing: border-box
  font-family: 'Noto Sans TC', "Arial", -apple-system, "Microsoft JhengHei", sans-serif
  font-size: 1.4rem
  font-weight: 300


.app
  overflow: hidden
  position: relative

 
a
  &:hover 
    text-decoration: none

.main-content
  min-height: calc(100vh - 100px)
.no-padding
  padding: 0


// removing scroll bar
// ::-webkit-scrollbar  
//   display: none


.ellipsis
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden
// font weight

.fw-100
  font-weight: 100
.fw-200
  font-weight: 200
.fw-300
  font-weight: 300
.fw-400
  font-weight: 400
.fw-500
  font-weight: 500
.fw-600
  font-weight: 600
.fw-700
  font-weight: 700
.fw-800
  font-weight: 800
.fw-900
  font-weight: 900

// Border Radius
.br-sm
  border-radius: 4px

.br-md
  border-radius: 10px

.br-lg
  border-radius: 30px
